# Arquivos de Build/Binários
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

# Pacotes e Dependências
packages/
node_modules/

# Pastas de Configuração do Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.log

# Outros arquivos do Visual Studio e IDEs
*.opendocument
*.opensdf